

.jumbotron {
	padding-top: 0;
	background-color: #1d222b;
	
}

.page-header {
	color: #2dafff;
	padding-bottom: 0;
	border-bottom: 2px solid #2dafff;
}

#pageSubhead {
	color: #405169;
	
}

.navbar {
	background-color: #405169;	
	border-top: 2px solid white;
}

.white {
	color: #fff;
}

.hint {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: .8rem;
	width: 95%;
}



